.bdg {
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    
    font-size: 0.8em;
    font-weight: bold;
    font-style: normal;

    background-color: #000000;
    color: #ffffff;
}

a.bdg {
    text-decoration: none;
}

.bdg[target='_blank']::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    filter: invert();
    margin: 0 3px 0 5px;
}

.bdg::before {
    content: attr(data-text);
}

.bdg[data-text='in']          { background-color: #0077B5; }
.bdg[data-text='GitHub']      { background-color: #24292e; }

.bdg[data-text='C']           { background-color: #555555; }
.bdg[data-text='C++']         { background-color: #F34B7D; }
.bdg[data-text='C#']          { background-color: #68217A; }
.bdg[data-text='ASP.NET']     { background-color: #3E3E3E; }
.bdg[data-text='Blazor']      { background-color: #512BD4; }
.bdg[data-text='WPF']         { background-color: #1C1C1C; }
.bdg[data-text='Azure']       { background-color: #007FFF; }
.bdg[data-text='WinForms']    { background-color: #0078D7; }
.bdg[data-text='MATLAB']      { background-color: #FF6600; }
